
a.cat, .filter_cat{
  padding: 5px;
  color: #333;
  font-size: 0.7em;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 10px;
  z-index: 100000;
}

.filter_cat {
  display: inline-block;
}

.filter_cat.selected {
  background-color: #f3f3f3;
}

.filter_cat:hover{
  cursor: pointer;
}

.categories {
  margin: 60px 0;
}

.categories a {
  font-size: 1em;
}

footer {
  height: 100% !important;
}
